@import "tailwindcss";




h1 {
  font-size: 80px;
  color: white;
  font-weight: 600;
  line-height: 110%;
}


h2 {
  font-size: 62px;
  color: #222222;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -2px;
}

h3 {
  font-weight: 500;
}

body {
  font-family: 'Space Grotesk', sans-serif;
 
  padding: 0;
  margin: 0;
  
}

html {
  scroll-behavior: smooth;
}

.text-fancy-shadow {
  background-color: #51a2ff;
}

.button-color {
  background-color: rgba(2, 61, 226, 0.067)
}

.custom-shape-divider-bottom-1753663138 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1753663138 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
    transform: rotateY(180deg);
}




.custom-shape-divider-bottom-1753663138 .shape-fill {
    fill: #FFFFFF;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2.5rem;
    max-width: 90vw;
  }

  h2 {
    font-size: 2rem;
    padding-bottom: 15%;
  }

  .mobile-section {
    margin-top: 20%;
  }

}